<%= render 'shared/menu' %>
<div class="ui container">
<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>
<br>
<%= link_to 'Show', @customer, class: 'ui positive basic button' %>
<%= link_to 'Back', customers_path, class: 'ui secondary basic button' %>
</div>