<%= render 'shared/menu' %>
<div class="ui container">
<h1>New Customer</h1>

<%= render 'form', customer: @customer %>
<br>
<%= link_to 'Back', customers_path, class: 'ui secondary basic button' %>

</div>